<?xml version="1.0" encoding="UTF-8" ?>

<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" version="1.0.0" id="io.rafaelhora.cenourapp">
    <name>Só de Cenoura</name>
    <description>
        Menu restaurante Só de Cenoura
    </description>
    
    <author href="https://github.com/rafaelhora" email="example@example.com" >Rafael Hora</author>
    
    <icon src="icon.png"/>
    <gap:splash src="splash.png"/>
    
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true"/>
    <preference name="permissions" value="none" />
    <gap:platform name="android" />
</widget>